<div id="root">
  <div class="d-flex flex-column flex-root">
    <div class="page d-flex flex-row flex-column-fluid">
      <div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
        <div class="d-flex flex-column flex-column-fluid">
          <div class="content fs-6 d-flex flex-column-fluid" id="kt_content">
            <div class="container-fluid">
              <div class="card">
                <div class="card-body p-0">
                  @ChildContent
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>