<ul class="list-group">
  @foreach (var runner in Runners) {
    <li class="list-group-item">
      @ViewHelperService.GetAbbrivation(runner.GetName()) = @runner.GetName() - @runner.Club
    </li>
  }
</ul>